<!DOCTYPE html>
<html>
    <head>
        <title>Confirm Password Reset</title>
        <h1>Recipe Book</h1>
    </head>
    <body>
        <h1>Confirm Password Reset</h1>
        <form method="POST">
            {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change password">
            </form>
            {% else %}
                <p>
                    Invalid password reset link!
                </p>
            {% endif %}
            <button type="submit">Reset Password</button>
        </form>
    </body>
</html>