<html>
    <head>
        <h1 style="color:#485935">{{ commission.title }}</h1>
    </head>
    <body>
        <div style="max-width:800px; text-align:justified">
        <p>
            Created On: {{ commission.created_on }} <br/>
            Updated On: {{ commission.updated_on }}
        </p>
        <p>People Required: {{ commission.people_required }}</p>
        <h2 style="color:#8A9A5B">Description</h2>
        <p>{{ commission.description }}</p>
        <a href="{% url 'commissions:commission_list' %}" style="color:#485935">Commissions List</a>
    </div>
    </body>
</html>