<!DOCTYPE html>
<html>
<head>
    <title>Article List</title>
</head>
<body>
    <h1 style="color:#485935">Article List</h1>
    {% for category in grouped_articles %}
        <h2>{{ category.category_name }}</h2>
        <ul>
            {% for article in category.article_set.all %}
                <li>
                    <a href="{% url 'wiki:article-detail' pk=article.pk %}" style="color:#8A9A5B">
                        <b>{{ article.title }}</b>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    {% if user.is_authenticated %}
        <a href="{% url 'wiki:article-create' %}">Create Article</a>
    {% endif %}
</body>
</html>
