
<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% if request.user.is_authenticated %}
    <form action="{% url 'article-create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 style="color:#485935">Hello {{ request.user.profile }}! Make a new article!</h1>
        {{ form.as_p }}
        <input type="file" name="article_image">
        <button type="submit">SUBMIT</button>
    </form>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <p>
            <button type="submit">LOG OUT</button>
        </p>
    </form>
{% endif %}
</body>
</html>
