{% extends 'base.html' %}

{% block title %}{{ commission.title }}{% endblock %}

{% block content %}
<div style="max-width:800px; text-align:justified">
    <h1>{{ commission.title }}</h1>
    <p>Created On: {{ commission.created_on|date:"Y-m-d H:i" }} <br/>
       Updated On: {{ commission.updated_on|date:"Y-m-d H:i" }}</p>
    <p>Description: {{ commission.description }}</p>
    <p>Status: {{ commission.get_status_display }}</p>

    {% if user == commission.author %}
        <a href="{% url 'commissions:edit' pk=commission.pk %}">Edit Commission</a>
    {% endif %}

    <h2>Jobs Needed</h2>
    <ul>
    {% for job in commission.jobs.all %}
        <li>{{ job.role }} - Required: {{ job.manpower_required }} - Status: {{ job.get_status_display }}
            {% if job.status == 'Open' %}
                <a href="{% url 'commissions:apply_job' job.id %}" class="btn btn-small">Apply</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
