{% extends 'base.html' %}

{% block content %}
<h1>Commissions List</h1>
<a href="{% url 'commissions:add' %}" class="btn btn-primary">Create Commission</a>
<h2>Your Commissions</h2>
<ul>
    {% for commission in user_commissions %}
    <li>
        <a href="{% url 'commissions:detail' pk=commission.pk %}">{{ commission.title }}</a> - Status: {{ commission.get_status_display }}
    </li>
    {% endfor %}
</ul>
<h2>All Commissions</h2>
<ul>
    {% for commission in commissions %}
    <li>
        <a href="{% url 'commissions:detail' pk=commission.pk %}">{{ commission.title }}</a> - Status: {{ commission.get_status_display }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
