<!DOCTYPE html>
<html>
    <head>
        <title>Forum Detail</title>
        <h1 style="color:#485935">Forum Thread</h1>
    </head>
    <body>
        <div style="max-width:800px; text-align:justified">
        <h2 style="color:#8A9A5B">{{ thread.title }}</h2>
        <p>
            Thread Category: {{ thread.category.name }} <br/>
            Category Description: {{ thread.category.description }}
        </p>
        <p>
            Created on: {{ thread.created_on }} <br/>
            Updated on: {{ thread.updated_on }}
        </p>
        <p>
            <h3 style="color:#8A9A5B">Thread Entry</h3>
            {{ thread.entry }}
        </p>
        <p>
            <h3 style="color:#8A9A5B">Threads Under The Same Category</h3>
            <ul>
                <li>
                    <a href="{{ thread.get_absolute_url }}" style="color:#485935">
                        {{ thread.title }}
                    </a>
                </li>
            </ul>
        </p>
        <a href="{{ thread.get_root_url }}" style="color:#485935">Threads List</a>
        <p>
            <h3 style="color:#8A9A5B">Comments</h3>
            <ul>
                {% for comment in thread.comments.all %}
                <li>
                    {{ comment.author }}: {{ comment.created_on }} <br/>
                    {{ comment }}
                </li>
                {% endfor %}
            </ul>
        </p>
        <p>
            <form action="{{ thread.get_absolute_url }}" method="post">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit">Submit</button>
            </form>
        </p>
        </form>
        </div>
    </body>
</html>